<html>
  <head>
    <title>Href Attribute Example</title>
  </head>
  <body>
    <h1>Href Attribute Example</h1>
    <p>
      <a href="https://www.freecodecamp.org/contribute/">The freeCodeCamp Contribution Page</a> shows you how and where you can contribute to freeCodeCamp's community and growth.
    </p>
    {% if is_logged_in %}
    <h3>List of computer courses</h3>
    {{courses}}
    <ul>
      {% for courses in courses%}
      <li>{{courses}}</li>
      {% endfor %}
    </ul>
    {% else %}
      <p> please login to access  ......!</p>
    {% endif %}
    <ul>
      <li><a href="https://www.coursera.org/">Coursera</a></li>
      <li><a href="https://www.udemy.com/">Udemy</a></li>
      <li><a href="https://www.edx.org/">edX</a></li>
      <li><a href="https://www.codecademy.com/">Codecademy</a></li>
    </ul>
  </body>
</html>